*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: rgb(0, 4, 58);
    position: fixed;
    z-index: 100;
}

header .h2{
    font-size: 1.6rem;
    color: rgb(43, 251, 251);
    cursor: pointer;
}

header .search{
    position: relative;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    max-width: 550px;
    width: 100%;
    display: flex;
    align-items: center;
}

.search i{
    z-index: 1;
}

.search input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    position: absolute;
    z-index: 0;
    padding-left: 25px;
    font-size: 18px;
}

header .panier{
    position: relative;
    color: white;
}

header .panier i{
    font-size: 1.5rem;
}

header .panier span{
    padding: 1px;
    color: rgb(0, 4, 58);
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    position: absolute;
    bottom: -5px;
    left: 0;
    cursor: pointer;
}

@media (max-width: 700px){
    header .search{
        max-width: 200px;
    }   
}

.container{
    margin-top: 10vh;
    width: 100%;
    min-height: 100vh;
}

.container .sideBar{
    position: fixed;
    border-top: 1px solid rgb(43, 251, 251);
    width: 200px;
    min-height: 90vh;
    background-color: rgb(0, 4, 58);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sideBar ul{
    list-style: none;
    width: 100%;
}

.sideBar ul li{
    line-height: 50px;
    margin-top: 10px;
    display: flex;
    padding: 0 10px;
    gap: 15px;
    align-items: center;
    border-bottom: 1px solid rgb(43, 251, 251);
    cursor: pointer;
    transition: all .5s ease;
}

.sideBar ul li:hover{
    background-color: white;
    color: rgb(0, 4, 58);
}

.sideBar ul li:hover a{
    color: rgb(0, 4, 58);
}

.sideBar ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.profil{
    width: 100%;
    padding: 5px;
    display: flex;
    gap: 10px;
    align-items: end;
}

.profil .image{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(43, 251, 251);
    position: relative;
}

.profil .image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.profil .info h4{
    font-size: 15px;
}

.profil .info a{
    color: rgb(43, 251, 251);
}

@media (max-width: 700px){
    .container .sideBar{
        width: 70px;
        /* min-height: 100vh; */
    }

    .sideBar ul li{
        justify-content: center;
        display: block;
        text-align: center;
    }

    .sideBar ul li a{
        display: none;
    }

    .profil .image{
        height: 40px;
        width: 50px;
    }

    .profil .info {
        display: none;
    }
}

.container .contenu{
    position: relative;
    width: calc(100% - 200px);
    left: 200px;
    padding: 10px;
}

.contenu h1{
    font-size: 1.6rem;
    color: rgb(0, 4, 58);
    padding-bottom: 4px;
    border-bottom: 1px solid rgb(0, 4, 58);
}

.contenu .lesProduits{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    gap: 20px;
}


.lesProduits .produits{
    padding: 10px;
    min-width: 250px;
    box-shadow: 0 0 5px rgb(0, 4, 58, 0.3);
}

.produits .image{
    width: 100%;
    height: 30vh;
    background-color: rgb(0, 4, 58, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.produits .image img{
    width: 70%;
}

.produits .nomPrix{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.nomPrix h4{
    font-size: 1rem;
    margin-bottom: 5px;
}

.nomPrix .prix{
    font-size: 16px;
    padding: 5px 0;
    background-color: rgb(0, 4, 58);
    color: white;
}

.nomPrix .prix span{
    color: rgb(43, 251, 251);
    margin-left: 15px;
}

.produits button{
    margin-top: 15px;
    border-radius: 25px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6vh;
    font-size: 16px;
    gap: 10px;
    background-color: rgb(0, 4, 58, 0.3);
    color: rgb(0, 4, 58);
    border: 2px solid rgb(0, 4, 58);
    transition: all .5s ease;
    cursor: pointer;
}

.produits button:hover{
    color: white;
    background-color: rgb(0, 4, 58);
}

@media (max-width: 700px){
    .container .contenu{
        width: calc(100% - 70px);
        left: 70px;
    }
}